<% for(post of posts){ %>
    <li>
         <% if (locals.user && locals.user.id==post.user.id){ %>
        <a href="posts/delete/<%=post.id%>">X</a>
        <%}%>
        <p><%=post.content%></p>
        
        <small><%=post.user.name%></small>
    </li>

    <%-  include('_comments'); -%>
    
    
<%}%>