body {
  //text-align:center;
  background-color: aqua;

  #feed_post {
    // display: flex;
    margin: 10px;
    width: 80%;
  }

  #user_friends {
    padding: 10px;
    // display: flex;
    width: 20%;
  }
}
